build/
build-*/
./bin/
CMakeCache.txt
CMakeFiles/
compile_commands.json
*.o
*.obj

project/addons/perlin_noise/bin/*.dll
project/addons/perlin_noise/bin/*.so
project/addons/perlin_noise/bin/*.dylib
project/addons/perlin_noise/bin/*.exp
project/addons/perlin_noise/bin/*.lib

.vscode/
*.code-workspace
.claude
CLAUDE.md

.DS_Store
Thumbs.db

*~
.*.swp
